---
layout: page
title:  "Folk Dancing"
subtitle: "Illustrations by Diane Griffiths"
permalink:  "folk-dancing"
categories: poetry books chapbook
---


{% for chapbook in site.data.poetry.chapbooks %}
    {% if chapbook.title == "Folk Dancing" %}
        <ol>
        {% for poem in chapbook.poems %}
            {% if poem.title %}
                <li>{{poem.title}}</li>
            {% else %}
                <li>{{poem}}</li>
            {% endif %}
        {% endfor %}
        </ol>
    {% endif %}
{% endfor %}

