---
layout: default
title: Poetry Books
---

<section class="post-list">

  <header class="post-header intro">
    <div class="intro-in">
      <h1 class="post-title">{{ page.title }}</h1>
      {% if page.subtitle %}
        <h2 class="intro-subtitle">{{ page.subtitle }}</h2>
      {% endif %}
    </div>
  </header>

  {% for post in site.categories.books %}
    <article class="post-item container">
        <header>
            <h1 class="post-title">
                <a class="post-link" href="{{ post.url | prepend: site.baseurl }}">{{ post.title }}</a>
            </h1>
        </header>

        {% include post.html post=post %}

        <footer>
            <ul class="list-inline italics-style clearfix">
                {% for category in post.categories %}
                <li>{{ category }}</li>
                {% endfor %}
            </ul>
            <span class="post-meta">{{ post.date | date: "%b %-d, %Y" }}</span>
        </footer>
    </article>
  {% endfor %}

</section>
