---
layout: default
---

<article class="post" itemscope itemtype="http://schema.org/BlogPosting">

  <header class="post-header intro">
    <div class="intro-in">
      <h1 class="post-title" itemprop="name headline">{{ page.title }}</h1>
      <p class="post-meta">
        {% if page.subtitle %}<div itemprop="alternativeHeadline">{{ page.subtitle }}</div>{% endif %}
        {% if page.author %}<div itemprop="author" itemscope itemtype="http://schema.org/Person"><span itemprop="name">{{ page.author }}</span></div>{% endif %}
        {% if page.location %}<div itemprop="locationCreated" itemscope itemtype="http://schema.org/Place"><span itemprop="name">{{ page.location }}</span></div>{% endif %}
        {% if page.date %}<div><time datetime="{{ page.date | date_to_xmlschema }}" itemprop="dateCreated">{{ page.date | date: "%B %-d, %Y" }}</time></div>{% endif %}
      </p>
    </div>
  </header>

  <div class="center">
    <div class="post-content container" itemprop="articleBody">
      {{ content }}
    </div>
  </div>

</article>
